# Database 
sim.db

# Generated Commands
commands/add_and_submit
commands/add_and_run
commands/add_column
commands/add_comment
commands/add_sim
commands/add_run
commands/combine_dbs
commands/delete_empty_columns
commands/delete_results_dir
commands/delete_sim
commands/extract_params
commands/list_sim_db_commands
commands/list_print_configs
commands/print_sim
commands/submit_sim
commands/run_sim
commands/update_sim

# Static libraries
lib/libsimdbc.a
lib/libsimdbcpp.a

# Executable test and example programs
test/c_program
test/cpp_program
example/minimal_c_example
example/minimal_cpp_example
example/extensive_c_example
example/extensive_cpp_example

# Test and example results not deleted
test/results/*
!test/results/.keep
example/results/*
!example/results/.keep

# Directories in doc/
doc/build/
doc/html/
doc/latex/
doc/xml/

# Object files
*.o

# Debug symbols
*.dSYM/*

# Temporary files
*.pyc
*.swp

# Other
.DS_Store
.cache/*
test/.cache/*
