# .sim_db directory
.sim_db/sim.db

# Executable test and example programs
tests/c_program
tests/cpp_program
tests/c_mtap
examples/minimal_c_example
examples/minimal_cpp_example
examples/minimal_fortran_example
examples/extensive_c_example
examples/extensive_cpp_example
examples/extensive_fortran_example

# Test and example results not deleted
tests/results/*
!tests/results/.keep
examples/results/*
!examples/results/.keep

# Directories in doc/
docs/html/
docs/latex/
docs/xml/

# Build directories
build/*
docs/build/*
examples/build/*
tests/build/*

# Distribution files
dist/*
sim_db.egg-info/*

# Object files
*.o

# Fortran modules
*.mod

# Debug symbols
*.dSYM/*

# Temporary files
*.pyc
*.swp
*.swo

# Other
.DS_Store
.cache/*
tests/.cache/*
